body{
	margin: 0;
	font-family:Georgia;
}

header{
	background-color: #FCDFED;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1,h2{
	font-family: 'Abril Fatface', cursive;
}

header h1{
	color: white;
	font-size: 75px;
	font-family: Georgia;
}

header img{
	border-radius: 300px;
	width: 600px;
	text-align: center;
	border:10px solid #D8E8F9;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px 20px 100px;

}

main img{
	max-width: 100%;

}